<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ByS.Trazabilidad.Data.Properties.Settings.BD_BySConnectionString"
            connectionString="Data Source=.;Initial Catalog=BD_ByS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ByS.Trazabilidad.Data.Properties.Settings.BD_BySConnectionString1"
            connectionString="Data Source=.,28660;Initial Catalog=BD_ByS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>