
@{
    ViewBag.Title = "OrdenRetiroProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <h4 class="panel-heading">Orden de Retiro de Producto</h4>
    <div class="panel-body">
        <div class="form-horizontal">

        </div>
    </div>
</div>