@{
    ViewBag.Title = "Trazabilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<style type="text/css">
    .tab-pane {
        background: #fff;
        padding: 20px 15px 10px 15px;
        border: 1px solid #ddd;
        border-top: 0;
    }
</style>
<div class="panel panel-info">
    <h4 class="panel-heading">
        Consultar Trazabilidad
    </h4>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Buscar producto:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" data-bind="value: Filtro.NombreProducto" placeholder="Ingrese un texto..." id="jmombreproducto" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" data-bind="click: $root.BuscarProducto">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Fecha Inicio:</label>
                    <div class="input-group" data-bind="dateTimePicker: Filtro.FechaInicio, dateTimePickerOptions: { format: 'L', showClear: true }">
                        <input type="text" class="form-control" placeholder="dd/mm/aaaa" />
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">Fecha Fin:</label>
                    <div class="input-group" data-bind="dateTimePicker: Filtro.FechaFin, dateTimePickerOptions: { format: 'L', showClear: true }">
                        <input type="text" class="form-control" placeholder="dd/mm/aaaa" />
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label">&nbsp;</label><br />
                    <button type="button" class="btn btn-primary" data-bind="click: ConsultarTrazabilidad">Consultar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="text-info" data-bind="text: NombreProducto"></h2>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#InformeVenta" aria-controls="InformeVenta" role="tab" data-toggle="tab">Informe de venta</a></li>
        <li role="presentation"><a href="#Kardex" aria-controls="Kardex" role="tab" data-toggle="tab">Kardex</a></li>
        <li role="presentation"><a href="#OrdenCompra" aria-controls="OrdenCompra" role="tab" data-toggle="tab">Orden de compra</a></li>
        <li role="presentation"><a href="#OrdenPedido" aria-controls="OrdenPedido" role="tab" data-toggle="tab">Orden de pedido</a></li>
        <li role="presentation"><a href="#LibroReceta" aria-controls="LibroReceta" role="tab" data-toggle="tab">Libro Receta</a></li>
        <li role="presentation"><a href="#HojaMerma" aria-controls="HojaMerma" role="tab" data-toggle="tab">Hoja Merma</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="InformeVenta">
            <div class="table-responsive" data-bind="visible: VentasArray().length > 0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-2">Fecha</th>
                            <th>Cliente</th>
                            <th class="col-xs-2">Cantidad</th>
                            <th class="col-xs-2">Precio</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: VentasArray">
                        <tr>
                            <td data-bind="text: util.date.format($data.fechaVenta, 'dd/MM/yyyy')"></td>
                            <td data-bind="text: $data.nombreCliente"></td>
                            <td>
                                <span data-bind="text: $data.cantidad"></span>
                                <span data-bind="text: 'UND'"></span>
                            </td>
                            <td>
                                <span data-bind="text: 'S/.'"></span>
                                <span data-bind="text: $data.precio"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="text-danger" data-bind="visible: VentasArray().length == 0">No hay datos para mostrar</h4>
        </div>
        <div role="tabpanel" class="tab-pane" id="Kardex">
            <div class="table-responsive" data-bind="visible: KardexArray().length > 0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Ingresos</th>
                            <th>Salidas</th>
                            <th>Saldos</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: KardexArray">
                        <tr>
                            <td data-bind="text: util.date.format($data.fecha, 'dd/MM/yyyy')"></td>
                            <td data-bind="text: $data.ingreso"></td>
                            <td data-bind="text: $data.salidas"></td>
                            <td data-bind="text: $data.saldos"></td>
                            <td data-bind="text: $data.observaciones"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="text-danger" data-bind="visible: KardexArray().length == 0">No hay datos para mostrar</h4>
        </div>
        <div role="tabpanel" class="tab-pane" id="OrdenCompra">
            <div class="table-responsive" data-bind="visible: OrdenesCompraArray().length> 0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Proveedor</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: OrdenesCompraArray">
                        <tr>
                            <td data-bind="text: util.date.format($data.fechaCompra, 'dd/MM/yyyy')"></td>
                            <td data-bind="text: $data.nombreProveedor"></td>
                            <td data-bind="text: $data.cantidad"></td>
                            <td data-bind="text: $data.costo"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="text-danger" data-bind="visible: OrdenesCompraArray().length == 0">No hay datos para mostrar</h4>
        </div>
        <div role="tabpanel" class="tab-pane" id="OrdenPedido">
            <div class="table-responsive" data-bind="visible: OrdenesPedidoArray().length > 0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Número pedido</th>
                            <th>Total pedidos</th>
                            <th>Peso</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: OrdenesPedidoArray">
                        <tr>
                            <td data-bind="text: util.date.format($data.fecha, 'dd/MM/yyyy')"></td>
                            <td data-bind="text: $data.numeroOrden"></td>
                            <td data-bind="text: $data.totalPedidos"></td>
                            <td data-bind="text: $data.pesoTotal"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="text-danger" data-bind="visible: OrdenesPedidoArray().length == 0">No hay datos para mostrar</h4>
        </div>
        <div role="tabpanel" class="tab-pane" id="LibroReceta">
            <div class="table-responsive" data-bind="visible: RecetasArray().length > 0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Laboratorista</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: RecetasArray">
                        <tr>
                            <td data-bind="text: util.date.format($data.fechaProducto, 'dd/MM/yyyy')"></td>
                            <td data-bind="text: $data.quimicoLaboratorista"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="text-danger" data-bind="visible: RecetasArray().length == 0">No hay datos para mostrar</h4>
        </div>
        <div role="tabpanel" class="tab-pane" id="HojaMerma">
            <div class="table-responsive" data-bind="visible: HojaMermaArray().length > 0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Motivo</th>
                            <th>Cantidad</th>
                            <th>Número</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: HojaMermaArray">
                        <tr>
                            <td data-bind="text: util.date.format($data.fecha, 'dd/MM/yyyy')"></td>
                            <td data-bind="text: $data.motivo"></td>
                            <td data-bind="text: $data.cantidadInsumo"></td>
                            <td data-bind="text: $data.numeroHojaMerma"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="text-danger" data-bind="visible: HojaMermaArray().length == 0">No hay datos para mostrar</h4>
        </div>
    </div>
</div>

<div>
    <div class="row" id="seccionAceptar">
        <div class="form-group form-group-sm">
            <div class="col-md-10 col-sm-8">
                <br />
                @*<button type="button" class="btn btn-primary" data-bind="click: AbrirModalActualizar">Actualizar ficha</button>*@
                <button type="button" class="btn btn-primary" data-bind="click: Aceptar">Aceptar</button>
                
            </div>
        </div>
    </div>
</div>
<div id="modal-productos" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Lista de productos</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <table class="table table-bordered"
                           data-bind="dataTable: {                            
                                dataSource: productos,
                                rowTemplate: 'tmpl-producto',
                                columns: [
                                    { 'name': 'codigoProducto' },
                                    { 'name': 'nombreProducto' }
                                ], options: { aaSorting: [[0, 'asc']], aoColumnDefs: [{ 'mData': null, 'aTargets': [2] }] }
                            }">
                        <thead>
                            <tr>
                                <th class="col-xs-1">Código</th>
                                <th>Detalle</th>
                                <th class="text-center col-xs-1">#</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <script id="tmpl-producto" type="text/html">
                        <td data-bind="text: $data.codigoProducto"></td>
                        <td data-bind="text: $data.nombreProducto"></td>
                        <td class="text-center">
                            <i class="fa fa-check-circle fa-lg" data-bind="click: modelo.SeleccionarProducto"></i>
                        </td>
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/moment/moment.min.js"></script>
<script src="~/Scripts/moment/es.js"></script>
<script src="~/Scripts/datepicker/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/datepicker/datetimepicker-knockout.js"></script>
<link href="~/Scripts/datatables/plugins/bootstrap/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/plugins/bootstrap/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/datatables/media/js/knockout-datatables.js"></script>
<script src="~/Content/js/ViewModel/Trazabilidad.js"></script>

